*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body{
  background-color: #f9edec;
}

header{
  width: 100%;
  padding: 1.5rem;
  background-color: #220d0c;
}

h1{
  color: #f9edec;
  text-align: center;
  font: 1.5rem 'Aboreto', cursive, 'Lucida Sans Unicode';
  font-weight: 600;
}

details{
  position: relative;
  width: 100%;
  margin: 2.5rem auto;
  padding: 1rem;
}

summary{
  color: #220d0c;
  text-align: center
}

iframe{
  min-width: 200px;
}

.header-first-letter{
  color: #9c3c35;
  font-weight: 700;
  font-size: 2.5rem;
}

#main-portrait{
  background-image: linear-gradient(to top right, #040404, #1d1d1d);
  text-align: center;
  margin: 0 auto;
  padding: 0 0.5rem;
  box-shadow: 0px 5px 8px #1d1d1d, 0px -5px 8px #1d1d1d;
}

#main-portrait figcaption{
  font: 1rem 'Aboreto', cursive, 'Lucida Sans Unicode';
  color: #f9edec;
  padding: 0.5rem;
}

#main-portrait figcaption span{
  color: #cc473d;
  padding: 0 0.3rem;
}

#img-div{
  max-width: 800px;
  position: relative;
  margin:0 auto;
}

#image{
  width: 100%;
  max-width: 100%;
  border-radius: 5%;
  margin: 0 auto;
  display: block;
}

#tribute-info{
  width: 100%;
  
}

#tribute-info h2{
  display: inline-block;
  font: 1rem 'Aboreto', cursive, 'Lucida Sans Unicode';
  line-height: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}

#timeline-container{
  border-radius: 5px;
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}

.timeline-event{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  background-color: white;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.timeline-event:first-child{
  margin-top: 0.5rem;
}

.timeline-event:last-of-type::before{
  visibility: hidden;
}

.timeline-event::before{
  content: "";
  width: 0.5rem;
  background-color: #102c2e;
  position: absolute;
  left: 50%;
  top: 99%;
  bottom: -5rem;
}

.date-event{
  color: #f9edec;
  background-color: #102c2e;
  display: inline-block;
  width: 100%;
  min-width: 200px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.3rem 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.img-event{
  width: 100%;
  min-width: 200px;
  background-color: white;
}

.img-event img{
  transform: scale(0.8);
  max-height: 170px;
}
