*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #f9edec;
}

header{
  width: 100%;
  min-width: max-content;
  padding: 1rem 0 0.5rem;
  border-bottom: 0.3rem solid #9c3c35;
  background-color: #220d0c;
}

h1{
  color: white;
  text-align: center;
  font: 1.5rem 'Aboreto', cursive;
  font-weight: 600;
}

.header-first-letter{
  color: #9c3c35;
  font-weight: 700;
  font-size: 2.5rem;
}